body {
    background: #f8f8f8;
    font-size: 10pt;
    font-family: 맑은 고딕, NanumGothic, AppleGothic;
    color: #666;
}

#body {
    width: 800px;
    margin: auto;
}

#sidebar {
    width: 150px;
    float: left;
    border-right: 1px dashed #ddd;
}

#title {
    font-weight: bold;
    margin:10px;
}

#calendar-title {
    font-weight: bold;
    margin: 10px;
}

#archive-title {
    font-weight: bold;
    margin: 10px;
}

.archive-month {
    margin: 5px 5px 5px 15px;
}


#content {
    float: right;
}

#stat {
    text-align: right;
    margin: 10px;
    font-size: 8pt;
    color: #999;
}

.tweet {
    width: 600px;
    padding: 15px;
    border-top: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #999;
}

#bottom {
    width: 600px;
    margin: auto;
    padding: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 11pt;
}

#bottom a {
    display: inline-block;
    padding: 10px 10px 50px 10px;
}

.date {
    color: #999;
    padding-top: 5px;
}

.date a {
    color: #999;
}

.date a:hover {
    text-decoration: underline;
}

#foot {
    width: 800px;
    margin: auto;
    clear: both;
    text-align: right;
    font-size: 8pt;    
}

#copyright {
    float: right;
    border-top: 1px solid #ddd;
    padding: 5px;
}